body 
{
	background-color: #bcd0e5;
}
.normal 
{
	text-align: center;
	font-style: Calibri;
	font-size: 16px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 200px;
	margin-right: 200px;
	/* bcd0e5: pale blue;
	*/
}

.resume
{
	font-style: Times;
	font-size: 16px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 200px;
	margin-right: 200px;
	/* bcd0e5: pale blue;
	*/
}
.resumeheader
{
	text-align: center;
}

.image
{
	width: 40%;
	height: 40%;
}

.header
{
	font-style: Calibri;
	position: center;

}